@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100&family=Bebas+Neue&family=Black+Han+Sans&family=Dongle&family=Merriweather:ital,wght@1,700&family=Orbitron:wght@500&family=Overpass:wght@400;800&display=swap');
.wrap{position: fixed; width: 98%; height: 100%; display: flex; justify-content: center;align-items: center;}
.wrap > video{width: 98%; height: 100%; object-fit: cover; position: fixed; opacity: 0.75;}
.circle{width: 30%; height: 80%;}
.circle article{position:relative;width: 100%;height: 100%;}
.circle article h1{position: absolute; font-size: 30px; opacity: 1; top:-60px; transition: all 1s ease-in-out;cursor: pointer; z-index: 1000;}
.face{display: block;}

.inner{display:flex; flex-direction:column; width: 100%;height: 100%;}
@media screen and (max-width:768px) {
    .wrap > video{width: 101%;}
    .wrap{position: absolute; top:0; left:0;}
    .circle{width: 60%;}
}