@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Overpass&display=swap');

*{text-decoration: none;}

.scroll{display: flex;flex-direction: column;position: absolute;align-items: center;height: 300px;top: 700px;left: 700px;}
.scroll .text{letter-spacing: 10px;margin-bottom: 3rem; animation: bounce 3s ease-in-out 3;}
.scroll .line{border-left: 1px solid silver;height: 100%;}

@media screen and (max-width:768px) {
    .scroll{display: none;}
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}
