@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@value makerLightblue from '../../common/colors.css';
@value makerBlue from '../../common/colors.css';

*{box-sizing: border-box}
.navbar{position:fixed;top:30px;left:0;height:100px;width:100%;display:flex;align-items:center;padding:4.5rem;justify-content:space-between;font:20px "Poiret one";font-weight: bolder;z-index: 3;}
.menu{display: flex;flex-direction: row;align-items: center;}
.cube{width:50%;}
.font{font-size: x-large; width: 50%; cursor: pointer}
.menu:hover .font{transition: letter-spacing 1s linear;letter-spacing: 2px;}
.menu:hover .cube_color{transition: transform 1s linear;transform: translateX(-38%);}
.logo{display: flex; font-size: 20px;}

.navigation{
    display: none;
    height: 100vh;
    width: 100vw;
    background-color: royalblue;
    z-index: 1000;
}